 * {
     margin: 0px;
     font-family: Helvetica, "Helvetica Neue", Roboto, Noto, Arial, sans-serif;
 }

 #RootWrapperFrame1 {
     min-height: 100vh;
     position: relative;
 }

 #DivDivBlock89 {
     width: 1920px;
     height: 117px;
     background-color: black;
     position: absolute;
     left: 0px;
     top: 828px;
 }

 #DivFooter {
     height: 97px;
     position: absolute;
     left: 0px;
     top: 20px;
     right: 0px;
     opacity: 0.4;
 }

 #Feb {
     color: white;
     text-overflow: ellipsis;
     font-size: 24px;
     font-weight: normal;
     line-height: 0px;
     text-align: left;
     width: 197px;
     min-height: 96px;
     position: absolute;
     left: 841px;
     top: 0px;
     height: 96px;
 }

 #Vostechnologies2023AllRightsReserved {
     color: white;
     text-overflow: ellipsis;
     font-size: 20px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     width: 427px;
     min-height: 28px;
     position: absolute;
     left: 1475px;
     top: 34px;
     height: 28px;
 }

 #LinkPrivacyPolicy {
     color: white;
     text-overflow: ellipsis;
     font-size: 20px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     width: 142px;
     min-height: 28px;
     position: absolute;
     left: 28px;
     top: 41px;
     height: 28px;
 }

 #DivDivBlock88 {
     height: 20px;
     background-color: rgb(255, 200, 36);
     border-bottom-right-radius: 40px;
     border-bottom-left-radius: 40px;
     position: absolute;
     left: 0px;
     top: -1px;
     right: 0px;
 }

 #DivPreFooterS {
     width: 1920px;
     height: 828px;
     background-color: rgb(255, 200, 36);
     position: absolute;
     left: 0px;
     top: 0px;
 }

 #DivFhHolder {
     width: 1843px;
     height: 308px;
     position: absolute;
     left: 38px;
     top: 19px;
 }

 #DivFooterH {
     width: 1843px;
     height: 160px;
     overflow: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
 }

 #DivPreFooter {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: center;
     flex: none;
     width: 1132px;
     height: 160px;
     position: absolute;
     left: calc((calc((50% + -0px)) - 566px));
     top: calc((calc((50% + 0px)) - 80px));
 }

 #DivPreFooter_0001 {
     display: flex;
     justify-content: flex-start;
     flex-direction: row;
     align-items: flex-start;
     flex: none;
     box-sizing: border-box;
     padding-bottom: 6px;
     padding-right: 6px;
 }

 #UsStartsWithYou {
     color: black;
     text-overflow: ellipsis;
     font-size: 138px;
     font-weight: 700;
     letter-spacing: -6px;
     line-height: 154px;
     text-align: left;
 }

 #DivFooterH_0001 {
     width: 1843px;
     height: 170px;
     overflow: hidden;
     position: absolute;
     left: 0px;
     top: 138px;
 }

 #DivPreFooter_0002 {
     width: 1256px;
     height: 170px;
     position: absolute;
     left: calc((calc((50% + 0px)) - 628px));
     top: calc((calc((50% + 0px)) - 85px));
 }

 #We {
     color: black;
     text-overflow: ellipsis;
     font-size: 147px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     letter-spacing: -6px;
     line-height: 154px;
     text-align: left;
     position: absolute;
     left: 65px;
     top: -0px;
 }

 #EmphasisCare {
     color: black;
     text-overflow: ellipsis;
     font-size: 133px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     letter-spacing: -6px;
     line-height: 154px;
     text-align: left;
     position: absolute;
     left: 278px;
     top: 0px;
 }

 #Here {
     color: black;
     text-overflow: ellipsis;
     font-size: 154px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     letter-spacing: -6px;
     line-height: 154px;
     text-align: left;
     width: 506px;
     position: absolute;
     left: 467px;
     top: -0px;
 }

 #EmphasisRespect {
     color: black;
     text-overflow: ellipsis;
     font-size: 128px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     letter-spacing: -6px;
     line-height: 154px;
     text-align: left;
     position: absolute;
     left: 834px;
     top: 0px;
 }

 #NaN {
     color: black;
     text-overflow: ellipsis;
     font-size: 32px;
     font-family: Inter, sans-serif;
     font-weight: 700;
     letter-spacing: -6px;
     line-height: 154px;
     text-align: left;
     width: 170px;
     min-height: 142px;
     position: absolute;
     left: 615px;
     top: -55px;
     height: 142px;
 }

 #DivLines02 {
     height: 1px;
     background-color: rgb(192, 165, 60);
     position: absolute;
     left: 38px;
     top: 348px;
     right: 38px;
 }

 #DivHolder60 {
     height: 139px;
     overflow: hidden;
     position: absolute;
     left: 38px;
     top: 349px;
     right: 38px;
 }

 #WannaTakeItToTheNextStep {
     color: black;
     text-overflow: ellipsis;
     font-size: 20px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     text-transform: uppercase;
     width: 361px;
     min-height: 51px;
     position: absolute;
     left: 742px;
     top: 46px;
     height: 51px;
 }

 #Ellipse3 {
     width: 20px;
     height: 20px;
     background-color: black;
     border-radius: 20px / 20px;
     position: absolute;
     left: 659px;
     top: 62px;
 }

 #Ellipse4 {
     width: 20px;
     height: 20px;
     background-color: black;
     border-radius: 20px / 20px;
     position: absolute;
     left: 1166px;
     top: 62px;
 }

 #DivLines02_0001 {
     height: 1px;
     background-color: rgb(192, 165, 60);
     position: absolute;
     left: 38px;
     top: 488px;
     right: 38px;
 }

 #DivLines02_0002 {
     height: 1px;
     background-color: rgb(192, 165, 60);
     position: absolute;
     left: 38px;
     top: 619px;
     right: 38px;
 }

 #DivHolder60_0001 {
     height: 208px;
     overflow: hidden;
     position: absolute;
     left: 11px;
     top: 619px;
     right: 66px;
 }

 #DivHolder60_0002 {
     height: 130px;
     overflow: hidden;
     position: absolute;
     left: 38px;
     top: 39px;
     right: -38px;
 }

 #Whatsapp {
     color: black;
     text-overflow: ellipsis;
     font-size: 58px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     line-height: 44px;
     text-align: left;
     position: absolute;
     left: 326px;
     top: 53px;
 }

 #Linkedin {
     color: black;
     text-overflow: ellipsis;
     font-size: 58px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     line-height: 44px;
     text-align: left;
     position: absolute;
     left: 1274px;
     top: 53px;
 }

 #Instagram {
     color: black;
     text-overflow: ellipsis;
     font-size: 58px;
     font-family: Inter, sans-serif;
     font-weight: 400;
     line-height: 44px;
     text-align: left;
     position: absolute;
     left: 800px;
     top: 53px;
 }

 #VostechnologiesindiaGmailCom {
     color: black;
     text-overflow: ellipsis;
     font-size: 58px;
     font-family: Inter, sans-serif;
     font-weight: 700;
     line-height: 44px;
     text-align: center;
     width: 1068px;
     min-height: 102px;
     position: absolute;
     left: 426px;
     top: 502px;
     height: 102px;
 }