@import url("https://use.typekit.net/zmc8vly.css");

.section__button,
body {
    font-family: degular-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1ch
}

h1,
h2 {
    font-weight: 500;
    line-height: .75
}

.layout__line,
.scroll__content,
.scroll__stage,
.scroll__stage.js-mobile,
canvas.webgl {
    top: 0;
    left: 0;
    width: 100%
}

.layout__line,
.scroll__stage,
canvas.webgl {
    position: fixed
}

.scroll__content,
.scroll__stage.js-mobile {
    position: absolute
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    width: 100%;
    height: 100vh;
    overscroll-behavior: none;
    color: #fff;
    background-color: #000;
    line-height: 1.2
}

body::-webkit-scrollbar {
    display: none
}

canvas.webgl {
    pointer-events: none;
    /* mix-blend-mode: screen */
}

@media (max-width:64em) {
    canvas.webgl {
        opacity: .7
    }
}

.scroll__stage {
    height: 100vh
}

.scroll__stage.js-mobile {
    height: auto
}

.scroll__stage.js-mobile .scroll__content {
    position: relative
}

.scroll__content {
    will-change: transform
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    min-height: calc(100vh - 7rem);
}

@media (max-width:64em) {
    .section {
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        padding: 10vh 1rem
    }

    .section:first-of-type {
        gap: 0
    }
}

.section:not(:first-of-type) .section__title {
    padding-bottom: calc(min(9vw, 6rem))
}

.section:nth-child(2n) {
    /* flex-direction: row-reverse; */
    background: #ffc824
}

.section:nth-child(2n) .section__title {
    text-align: center;
}

@media (max-width:64em) {
    .section:nth-child(2n) {
        flex-direction: column
    }

    .section:nth-child(2n) .section__paragraph {
        align-self: flex-start
    }
}

.section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    opacity: .9;
}

@media (max-width:64em) {
    .section__title {
        width: 100%
    }
}

.section__title-number {
    font-size: min(36vw, 24rem)
}

.section__title-text {
    font-size: min(12vw, 9rem);
}

.contact-hero-text{
    font-size: 5rem;
    font-weight: 400;
    color: #000;
}

.contact-text-quote-hr{
    height: 2px;
    color: #6c757d;
}
.contact-text-quote h1{
    font-size: 1.4rem;
    color: #6c757d;
}
.quote-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 5px;
  }
  .underline-link {
    color: #000;
    position: relative;
    text-decoration: none;
  }
  
  .underline-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-out;
  }
  
  .underline-link:hover::before {
    width: 100%;
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footerSection {
    flex: 1;
    text-align: center;
    color: #6c757d;
    font-size: medium;
  }

@media (min-width: 720px) {
    .hero-title{
        white-space: nowrap;
    }
}

@media (max-width: 720px){
    .business-title{
        font-size: min(16vw, 9rem) !important;
    }
}

.section__title-arrow {
    font-size: min(9vw, 6rem);
    color: #0101ec;
    margin-top: 1ch;
    line-height: 1
}

.section__title-arrow span {
    display: inline-block;
    transform: rotate(90deg)
}

.section__paragraph {
    align-self: flex-end;
    max-width: 20ch;
    font-size: 1.4rem
}

@media (max-width:64em) {
    .section__paragraph {
        font-size: 1.2rem
    }
}

.section__button {
    display: inline-block;
    margin: 5ch 0;
    padding: 2ch 5ch;
    border: 2px solid;
    border-radius: 50%;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1ch;
    transition: background-color 1s ease;
    cursor: pointer
}

.section__button:focus,
.section__button:hover {
    border: 2px solid #dd51b1
}

.layout__line {
    height: 5px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0)
}

.layout__faboolea {
    position: fixed;
    bottom: 3rem;
    height: .5rem;
    width: 100%;
    text-align: center
}

.image-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;

}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%; */
    animation: float 3s ease-in-out infinite;

}

.image-container:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); */
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(0px);
    }
}

.divfooter {
    width: 1920px;
    height: 96.8px;
    padding: 0 18px 0.8px 28px;
    opacity: 0.45;
}

.Link-Privacy-policy {
    width: 133.8px;
    height: 28px;
    margin: 41px 679.2px 27px 0;
    opacity: 0.45;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.feb {
    width: 189px;
    height: 96px;
    margin: 0 40px 0 40.2px;
    opacity: 0.45;
    font-family: Inter;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.feb .text-style-1 {
    font-weight: bold;
}

.-vostechnologies-2023-All-rights-reserved {
    width: 427px;
    height: 28px;
    margin: 34px 0 34px 445px;
    opacity: 0.45;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.divholder-60 {
    width: 1843.2px;
    height: 207.9px;
    margin: 15px 27.4px 0 0;
    padding: 39px 0 38.9px 38px;
}

.whatsapp {
    width: 245px;
    height: 44px;
    margin: 0 229px 0 0;
    font-family: Inter;
    font-size: 57.6px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.76;
    letter-spacing: -3.17px;
    text-align: left;
    color: #000;
}


/* carousel */
.carousel {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: Arial;

  }
  .carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 330px;
    justify-content: center;
    perspective: 300px;
    visibility: inherit !important;
  }
  .carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
  }
  .carousel-text{
    font-weight: 500;
    font-size: 32px;
  }
  .carousel__item:nth-child(1) {
    background-image: url('assets/1.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
  .carousel__item:nth-child(2) {
    background-image: url('assets/2.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
  .carousel__item:nth-child(3) {
    background-image: url('assets/3.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
  .carousel__item:nth-child(4) {
    background-image: url('assets/4.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
  .carousel__item:nth-child(5) {
    background-image: url('assets/5.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
  .carousel__item[data-pos="0"] {
    z-index: 5;
  }
  .carousel__item[data-pos="-1"], .carousel__item[data-pos="1"] {
    opacity: 0.7;
    /* filter: blur(1px) grayscale(10%); */
  }
  .carousel__item[data-pos="-1"] {
    transform: translateX(-40%) scale(0.9);
    z-index: 4;
  }
  .carousel__item[data-pos="1"] {
    transform: translateX(40%) scale(0.9);
    z-index: 4;
  }
  .carousel__item[data-pos="-2"], .carousel__item[data-pos="2"] {
    opacity: 0.4;
    /* filter: blur(3px) grayscale(20%); */
  }
  .carousel__item[data-pos="-2"] {
    transform: translateX(-70%) scale(0.8);
    z-index: 3;
  }
  .carousel__item[data-pos="2"] {
    transform: translateX(70%) scale(0.8);
    z-index: 3;
  }
  

  .slider-nav {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .arrow-prev {
    margin-right: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
  }
  
  .arrow-next {
    margin-left: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 9px;
  }
  
  .slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .slider-dots li {
    color: #bbbcbc;
    display: inline;
    font-size: 30px;
    margin-right: 5px;
  }
  
  .slider-dots li.active-dot {
    color: #363636;
  }
  